In [46]:
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
df = pd.read_csv("adult.csv", error_bad_lines=False, sep=",")

<ipython-input-47-86659d8a9c50>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv("adult.csv", error_bad_lines=False, sep=",")
Skipping line 16569: expected 15 fields, saw 22

In [48]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0.0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0.0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0.0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0.0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0.0,3900,40,United-States,<=50K

In [49]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [50]:
# renomeando os nomes das colunas
df = df.rename(columns={"age":"Idade", "workclass": "Classe de trabalho", "fnlwgt":"Salario", "education": "educacao", "education.num": "educacao.num", "marital.status":"Estado.civil", "occupation":"Ocupacao","relationship":"relacionamento","race":"raca","sec":"sexo", "capital.gain":"ganho.capital","capital.loss":"perda.capital", "hours.per.week":"hora.por.semana", "native.country":"Naturalidade","income":"renda"})

In [51]:
# exibe quantas linhas e colunas os meus dados possuem
df.shape

(48549, 15)

In [52]:
# Exibe as colunas dos dados
df.columns

Index(['Idade', 'Classe de trabalho', 'Salario', 'educacao', 'educacao.num',
       'Estado.civil', 'Ocupacao', 'relacionamento', 'raca', 'sex',
       'ganho.capital', 'perda.capital', 'hora.por.semana', 'Naturalidade',
       'renda'],
      dtype='object')

In [53]:
df.dtypes

Idade                  object
Classe de trabalho     object
Salario                object
educacao               object
educacao.num           object
Estado.civil           object
Ocupacao               object
relacionamento         object
raca                   object
sex                    object
ganho.capital         float64
perda.capital          object
hora.por.semana        object
Naturalidade           object
renda                  object
dtype: object

In [54]:
# Últimas 6 linhas dos meus dados
df.tail(6)

,Idade,Classe de trabalho,Salario,educacao,educacao.num,Estado.civil,Ocupacao,relacionamento,raca,sex,ganho.capital,perda.capital,hora.por.semana,Naturalidade,renda
48543,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0,40,United-States,>50K
48544,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0,40,United-States,<=50K
48545,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0,38,United-States,<=50K
48546,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0,40,United-States,>50K
48547,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0,40,United-States,<=50K
48548,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0.0,0,20,United-States,<=50K

In [55]:
# valores unicos na coluna educação
df["educacao"].unique()

array(['HS-grad', 'Some-college', '7th-8th', '10th', 'Doctorate',
       'Prof-school', 'Bachelors', 'Masters', '11th', 'Assoc-acdm',
       'Assoc-voc', '1st-4th', '5th-6th', '12th', '9th', 'Preschool',
       'Some-collegese', 'White'], dtype=object)

In [56]:
# Filtrando valores unicos na coluna Classe de trabalho
df["Classe de trabalho"].unique()

array(['?', 'Private', 'State-gov', 'Federal-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Local-gov', 'Without-pay', 'Never-worked',
       'Transport-moving'], dtype=object)

In [58]:

# filtrando na coluna educacao , somente os dados onde o valor é igual a Masters
Masters = df.loc[df["educacao"] == "Masters"]
Masters.head(10)

,Idade,Classe de trabalho,Salario,educacao,educacao.num,Estado.civil,Ocupacao,relacionamento,raca,sex,ganho.capital,perda.capital,hora.por.semana,Naturalidade,renda
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0.0,2824,55,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0.0,2824,50,United-States,>50K
39,54,Private,161691,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0.0,2559,40,United-States,>50K
41,43,Private,115806,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0.0,2547,40,United-States,>50K
43,43,Private,289669,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,0.0,2547,40,United-States,>50K
54,39,Private,141584,Masters,14,Never-married,Sales,Not-in-family,White,Male,0.0,2444,45,United-States,>50K
66,37,Private,329980,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,2415,60,United-States,>50K
74,39,Private,179731,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.0,2415,65,United-States,>50K
77,46,Private,326857,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0.0,2415,65,United-States,>50K
78,40,Private,160369,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,2415,45,United-States,>50K

In [62]:
df.groupby("Ocupacao")["educacao"].nunique()

Ocupacao
0                     1
>50K                  1
?                    16
Adm-clerical         15
Armed-Forces          5
Craft-repair         16
Exec-managerial      15
Farming-fishing      16
Handlers-cleaners    14
Machine-op-inspct    16
Other-service        16
Priv-house-serv      14
Prof-specialty       16
Protective-serv      14
Sales                15
Tech-support         14
Transport-moving     15
White                 1
Name: educacao, dtype: int64

In [74]:
# exibe uma amostra dos meus dados
df.sample(5)

,Idade,Classe de trabalho,Salario,educacao,educacao.num,Estado.civil,Ocupacao,relacionamento,raca,sex,ganho.capital,perda.capital,hora.por.semana,Naturalidade,renda
8255,47,Private,343579,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0.0,0,40,Mexico,<=50K
25647,32,Private,328199,Assoc-voc,11,Never-married,Tech-support,Not-in-family,White,Female,0.0,0,64,United-States,<=50K
7068,29,Private,457402,5th-6th,3,Never-married,Other-service,Not-in-family,White,Male,0.0,0,25,Mexico,<=50K
31192,43,Private,475322,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,0,50,United-States,>50K
14288,22,Private,219042,10th,6,Never-married,Machine-op-inspct,Unmarried,White,Male,0.0,0,40,United-States,<=50K

In [69]:
df.isnull().sum()

Idade                 0
Classe de trabalho    0
Salario               0
educacao              0
educacao.num          0
Estado.civil          0
Ocupacao              0
relacionamento        1
raca                  1
sex                   1
ganho.capital         2
perda.capital         2
hora.por.semana       2
Naturalidade          3
renda                 3
dtype: int64

In [70]:
df.fillna(0, inplace=True)

In [71]:
df.isnull().sum()

Idade                 0
Classe de trabalho    0
Salario               0
educacao              0
educacao.num          0
Estado.civil          0
Ocupacao              0
relacionamento        0
raca                  0
sex                   0
ganho.capital         0
perda.capital         0
hora.por.semana       0
Naturalidade          0
renda                 0
dtype: int64

In [79]:
df.nsmallest(3, "ganho.capital")

,Idade,Classe de trabalho,Salario,educacao,educacao.num,Estado.civil,Ocupacao,relacionamento,raca,sex,ganho.capital,perda.capital,hora.por.semana,Naturalidade,renda
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0.0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0.0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0.0,4356,40,United-States,<=50K